p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.block {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.block a {
    color: cornflowerblue;
}
.block p {
    font-weight: bold;
}
